{% extends 'accounts/accounts_base.html' %}

{% block main_content %}
	<div class="container">
		<!-- Default form register -->
		<div class="row text-center">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<p class="h4 text-center mt-2 mb-4">Mobile Devices</p>
				<form class="text-center p-2" method="POST" action="{% url 'accounts:account_devices' %}">
					{% csrf_token %}
					{% for field in form %}
						<div class="form-row mb-4">
							<div class="col-12 col-md-4 col-form-label text-left">{{ field.label }}</div>
							{% if field.name == 'phone_number_country_code' %}
								<div class="col-12 col-md-8">
									<select id="{{ field.id_for_label }}"
											name="{{ field.html_name }}"
											class="form-control {% if field.errors %}is-invalid{% endif %}"
											aria-describedby="{{ field.help_text }}"
											onchange="updateCountryCode()"
									>
									{% for key, value in form.fields.phone_number_country_code.choices %}
										<option value="{{ key }}"{% if form.instance.phone_number_country_code == key %} selected{% elif form.instance.phone_number_country_code is None and value == 'United States' %} selected{% endif %}>{{ value }}</option>
									{% endfor %}
									</select>
							{% else %}
								<div class="col-4 col-md-2 form-control" id="country-code-display">{% if form.instance.phone_number_country_code is None %}1{% else %}{{ form.instance.phone_number_country_code }}{% endif %}</div>
								<div class="col-8 col-md-6">
									<input type="{{ field.field.widget.input_type }}"
										   id="{{ field.id_for_label }}"
										   name="{{ field.html_name }}"
										   maxlength="{{ field.field.max_length }}"
										   class="form-control {% if field.errors %}is-invalid{% endif %}"
										   aria-describedby="{{ field.help_text }}"
										   value="{{ field.value|default_if_none:'' }}"
									>
							{% endif %}
								<ul class="errorlist text-danger list-unstyled mb-0">
									{% for error in field.errors %}
										<li>{{ error|escape }}</li>
									{% endfor %}
								</ul>
							</div>
						</div>
					{% endfor %}
					<div class="form-row">
						<ul class="errorlist nonfield text-danger">
							{% for error in form.non_field_errors %}
								<li>{{ error|escape }}</li>
							{% endfor %}
						</ul>
					</div>
					<div class="form-row align-items-center mb-2">
						<div class="col-2 col-md-2"></div>
						<div class="col-8 col-md-8">
							<button id="id_send_email_btn"
									class="btn btn-primary btn-block shadow btn-lg mb-4"
									type="submit"
									>Save</button>
						</div>
						<div class="col-2 col-md-2"></div>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
	<script type="text/javascript">
		function updateCountryCode() {
			document.getElementById("country-code-display").innerHTML = document.getElementById("id_phone_number_country_code").value;
		}
	</script>
{% endblock %}