{% extends 'core/base.html' %}
{% load static %}

{% block title %}Groomsbros' Signup Page{% endblock %}

{% block header %}
	<link href="{% static 'mike/base/css/accounts/groomsbro_signup.css' %}" rel="stylesheet">
{% endblock %}

{% block main_content %}
	<div class="container">
	
		{% if gbros_remaining == 0 %}
			<div class="row signup-header">No more Groomsbros to sign up!</div>
		
		{% else %}
			<!-- Gbro Code Form -->
			<div class="container" id="gbro-code-form-block">
				<div class="row gbro-code-header text-center" id="gbro-code-header">
					<div class="col-12">
						You're one of Michael's Groomsbros!</br>Enter your access code here to sign up!
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-md-3"></div>
					<div class="col-12 col-md-6">
						<form class="gbro-code-form" method="POST"> <!-- action="{% url 'gbro_code_signup' %}"> -->
							{% csrf_token %}
							<div class="form-row">
								<input type="{{ gbro_code_form.code.code.widget.input_type }}"
									   id="{{ gbro_code_form.code.id_for_label }}"
									   name="{{ gbro_code_form.code.html_name }}"
									   maxlength="{{ gbro_code_form.code.code.max_length }}"
									   class="form-control {% if gbro_code_form.code.errors %}is-invalid{% endif %}"
									   aria-describedby="{{ gbro_code_form.code.help_text }}"
								/>
								<ul class="errorlist text-danger list-unstyled mb-0" id="gbro-code-form-errorlist">
									{% for error in gbro_code_form.code.errors %}
										<li>{{ error|escape }}</li>
									{% endfor %}
								</ul>
							</div>
							<div class="form-row">
								<ul class="errorlist nonfield text-danger">
									{% for error in gbro_code_form.form.non_field_errors %}
										<li>{{ error|escape }}</li>
									{% endfor %}
								</ul>
							</div>
							<div class="form-row mb-4">
								<div class="col-12 col-md-6 offset-md-3">
									<button id="id_gbro_code_btn"
											class="btn btn-block shadow btn-lg"
											type="submit"
									>Claim your account!
									</button>
								</div>
							</div>
						</form>
					</div>
					<div class="col-12 col-md-3"></div>
				</div>
			</div>
			
			<!-- Gbro signup form -->
			<div class="container" id="gbro-signup-form-block">
				<div class="row gbro-code-subheader text-center mt-4" id="gbro-code-subheader">
					<div class="col-12" id="access-message">Enter your access code above to unlock the sign up form.</div>
				</div>
				<div class="row">
					<div class="col-12 col-md-3"></div>
					<div class="col-12 col-md-6">
						<fieldset id="wait-for-code-verification" disabled="disabled">
							<form class="gbro-signup-form" method="POST"> <!-- action="{% url 'groomsbro_signup' %}"> -->
								{% csrf_token %}
								{% for field in gbro_signup_form %}
									{% if field.name != 'tos_accepted' %}
										<div class="form-row mb-4">
											<input type="{{ field.field.widget.input_type }}"
												   id="{{ field.id_for_label }}"
												   name="{{ field.html_name }}"
												   maxlength="{{ field.field.max_length }}"
												   class="form-control {% if field.errors %}is-invalid{% endif %}"
												   aria-describedby="{{ field.help_text }}"
												   placeholder="{% if field.name == 'password1' %}Password (8+ characters){% else %}{{ field.label }}{% endif %}"
												   {% if field.value and field.name != 'password1' and field.name != 'password2' %} value="{{ field.value }}" {% endif %}
												   {% if field.name == 'username' %} readonly autocomplete="username" {% endif %}
												   {% if field.name == 'email' %} autocomplete="email" {% endif %}
												   {% if field.name == 'password1' or field.name == 'password2' %} autocomplete="new-password" {% endif %}
												   
											/>
											<ul class="errorlist text-danger list-unstyled mb-0">
												{% for error in field.errors %}
													<li>{{ error|escape }}</li>
												{% endfor %}
											</ul>
										</div>
									{% else %}
										<div class="form-row">
											<div class="col-12 ml-3 mb-2">
												<input id="{{ field.id_for_label }}"
													   name="{{ field.html_name }}"
													   class="form-check-input {% if field.errors %}is-invalid{% endif %}"
													   type="checkbox"
													   aria-describedby="{{ field.help_text }}"
												/>I am at least 18 years of age and accept the 
												  <a href="{% url 'terms_and_conditions' %}">
												  Terms and Conditions</a> herein.
											</div>
											<ul class="errorlist text-danger list-unstyled mb-0">
												{% for error in field.errors %}
													<li>{{ error|escape }}</li>
												{% endfor %}
											</ul>
										</div>
									{% endif %}
								{% endfor %}
								<div class="form-row">
									<ul class="errorlist nonfield text-danger">
										{% for error in form.non_field_errors %}
											<li>{{ error|escape }}</li>
										{% endfor %}
									</ul>
								</div>
								<div class="form-row mb-4">
									<div class="col-8 col-md-8">
										<button id="id_signup_btn"
												class="btn btn-block shadow btn-lg"
												type="submit"
										>Complete Sign Up!
										</button>
									</div>
									<div class="col-4 col-md-4 pt-3">
										<span class="text-center">Or <a href="{% url 'login' %}">Log in</a></span>
									</div>
								</div>
							</form>
						</fieldset>
					</div>
					<div class="col-12 col-md-3"></div>
				</div>
			</div>
		{% endif %}
		
	</div>
{% endblock %}

{% block javascript %}
	<script>
		console.log('cat');
		console.log("{% url 'gbro_code_signup' %}");
		console.log("#{{ gbro_code_form.code.id_for_label }}");
		console.log($('input[name=csrfmiddlewaretoken]').val());
	</script>
	<script>
		$(".gbro-code-form").on('submit', function(e) {
			$.ajax({
				method: 'POST',
				data: {
					code: $('#{{ gbro_code_form.code.id_for_label }}').val(),
					csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
				},
				url: "{% url 'gbro_code_signup' %}",
				//url: "/gbro_code_signup",
				success: function(json) {
					console.log('success!');
					console.log(json);
					if (json.error) {
						console.log(json.errors);
						console.log(json.errors.code[0]);
						error_string = ""						
						for (var i=0; i < json.errors.code.length; i++) {
							error_string += "<li>" + json.errors.code[i] + "</li>"
						}
						document.getElementById("gbro-code-form-errorlist").innerHTML = error_string;
					} else {
						document.getElementById("gbro-code-form-errorlist").innerHTML = "";
						document.getElementById("id_username").placeholder = json.username;
						document.getElementById("wait-for-code-verification").removeAttribute("disabled");
						document.getElementById("id_code").disabled = true;
						document.getElementById("access-message").innerHTML = ""
							+ "Sup " + json.username + ", finish signing up now!";
					}
				},
				error: function(xhr, errmsg, err) {
					document.getElementById("gbro-code-header").innerHTML = "Something went wrong, mang. Try again later!";
					console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error
				}
			});
			e.preventDefault();
		});
	</script>
{% endblock %}